<div id="<%= dom_id blog_article %>">
  <p>
    <strong>Title:</strong>
    <%= blog_article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blog_article.description %>
  </p>

</div>
