<% content_for :title, "Editing blog article" %>

<h1>Editing blog article</h1>

<%= render "form", blog_article: @blog_article %>

<br>

<div>
  <%= link_to "Show this blog article", @blog_article %> |
  <%= link_to "Back to blog articles", blog_articles_path %>
</div>
